<h1 style="text-align: center;font-style:italic;">Welcome To the Simpsons MicroBlog!</h1></br><br/>

<div class="container">
 
  <div class="col-md-4">
  <% @users.each do |user| %>
    <%= form_for user do |f| %>
      <h3 style="margin: -3px;"><%= f.label :name, "#{user.first_name} #{user.last_name}" %></h3>
      <%= f.label :email, "#{user.email}" %></br>
      <%= link_to "Show User ", user_page_path(user,1), method: :get %></br>

      <% if user.id == @current_user.id %>
        <%= link_to "Submit a Post", new_user_post_path(@current_user) %> </br>
        <%= link_to "Edit User ", edit_user_path(@current_user) %></br>
        <%= link_to "Delete", user_path(@current_user), method: :delete %></br></br>
      <% end %>

    <% end %>
  <% end %>
  </div>

  <div class="col-md-8">
          <%= image_tag "bart_and_milhouse_xsml.png" %>
  </div>

</div>



